/* Téléphone portable*/
@media screen and (max-width: 768px) {
  body {
    width: 100%;
    margin: 0;
  }
  #header__container {
    flex-direction: column;
    margin: 0;
  }
  #header__title {
    text-align: center;
    margin: 0;
  }
  #header__title img {
    position: relative;
    left: 15px;
  }
  .header__nav-container {
    margin: 0;
    padding-top: 15px;
    text-align: center;
    width: 100%;
  }
  .header__nav-container:hover {
    border-top: none;
    border-bottom: 2px solid var(--blue);
  }
  /* formulaire */
  #formulaire__container {
    margin: 0;
  }
  #formulaire__title-block {
    padding: 8px;
  }

  #formulaire__search-block {
    text-align: center;
  }
  #formulaire__search-block input {
    width: 70%;
  }
  .fa-map-marker-alt {
    top: 1px;
    height: 17px;
  }
  .formulaire__label {
    display: none;
  }
  .fa-search {
    visibility: visible;
    display: inline-block;
    color: var(--light-blue);
    background: var(--blue);
    height: 39px;
    width: 34px;
    text-align: center;
    border-radius: 10px;
    position: relative;
    top: -10px;
    left: -14px;
  }
  .fa-search::before {
    position: relative;
    top: 11px;
  }
  #formulaire__filtre {
    padding-left: 8px;
  }
  #formulaire__filtre span {
    display: block;
    width: 100%;
    padding-bottom: 16px;
  }
  #subinfo_form {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 0 8px;
  }
  #subinfo_form i {
    display: block;
  }
  .fa-info {
    width: 37px;
  }
  .fa-info::before {
    top: -6;
  }
  #subinfo_form span {
    display: inline-block;
    padding-left: 8px;
  }
  /* Hebergement */
  #hebergement {
    flex-direction: column-reverse;
  }
  #hebergement__block {
    background: none;
    width: 100%;
    padding: 0;
  }
  h2.section__title {
    padding: 32px 22px;
  }
  .hebergement_box {
    justify-content: center;
  }
  #aside__block {
    width: 100%;
    border-radius: 0;
    padding: 0;
  }
  .fa-chart-line::before {
    position: relative;
    top: 50%;
    bottom: 50%;
  }
  #hebergement__btn {
    padding-left: 22px;
  }
  /* Activités à Marseille*/
}
