:root {
  --blue: #0065fc;
  --light-blue: #deebff;
  --background: #f2f2f2;
}
* {
  box-sizing: content-box;
}
body {
  font-family: "Raleway", sans-serif;
  width: 90%;
  margin: 0 auto;
}

button {
  font-weight: bold;
  border: none;
  background: none;
}
button:active {
  position: relative;
  top: 1px;
}

/* header */
#header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 2%;
}
#header__title img {
  box-sizing: border-box;
  width: 45%;
}
#header__nav-block {
  display: flex;
}
.header__nav-container {
  width: 115px;
  text-align: center;
  padding: 12% 15px 0 15px;
}

.header__nav-container:hover {
  border-top: 2px solid var(--blue);
}
.header__nav-container:hover > a {
  color: var(--blue);
}
a {
  text-decoration: none;
  font-size: 16px;
  color: #000;
}
/* Formulaire */
#formulaire__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#formulaire__title-block {
  margin-bottom: 15px;
}
#formulaire__title-block h2 {
  margin-bottom: 10px;
}
#formulaire__from {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#formulaire__search-block {
  padding-bottom: 16px;
  width: 100%;
}
#formulaire__search-block i {
  padding: 11px;
  background-color: var(--background);
  border-radius: 10px 0 0 10px;
  position: relative;
  right: -5px;
}
#formulaire__search-block input {
  display: inline-block;
  margin: 0;
  padding: 9px;
  border: 1px solid var(--background);
  font-weight: 600;
}
#formulaire__search-block input:active {
  border: 1px solid var(--background);
}
.formulaire__label {
  color: var(--light-blue);
  background: var(--blue);
  height: 17px;
  display: inline-block;
  font-size: small;
  text-align: center;
  position: relative;
  top: -2px;
  left: -5px;
  margin: 0;
  padding: 11px 10px 10px 10px;
  border-radius: 0 10px 10px 0;
}

.fa-search {
  display: none;
  visibility: hidden;
}

#formulaire__filtre {
  display: flex;
  flex-wrap: wrap;
}
#formulaire__filtre span {
  position: relative;
  top: 8px;
  font-weight: bolder;
  display: inline-block;
  padding-right: 16px;
}
.formulaire__filtre_box {
  box-sizing: border-box;
  border: 2px solid var(--background);
  height: 35px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 16px;
}
.slider {
  box-sizing: border-box;
  width: 100%;
  padding-right: 16px;
  font-weight: bold;
}

.btnCheck {
  box-sizing: border-box;
  text-align: center;
  color: var(--blue);
  background: var(--light-blue);
  padding: 8px;
  height: 34px;
  width: 34px;
  border-radius: 20px;
  float: left;
  position: relative;
  left: -2px;
}
.formulaire__filtre_box input {
  position: absolute;
  width: 0%;
  height: 0%;
  opacity: 0;
}
.formulaire__filtre_box label {
  width: 100%;
  font-size: 12px;
  text-align: center;
  padding-left: 8px;
  position: relative;
  top: 7px;
}
.fa-info {
  height: 30px;
  width: 30px;
  border-radius: 18px;
  border: 1px solid var(--background);
  position: relative;
  top: -7px;
}
.fa-info::before {
  position: relative;
  top: 8px;
  left: 12px;
  color: var(--blue);
}
/* Hébergement et card */
#hebergement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 32px;
}
#hebergement__block {
  background: var(--background);
  padding: 22px 32px;
  border-radius: 20px;
  width: 60%;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.section__title {
  margin: 0;
  padding: 32px 0 32px 0;
}
#hebergement__btn {
  padding-top: 2%;
}

/* Card */
.hebergement_box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.hebergement_card {
  box-sizing: content-box;
  height: 200px;
  width: 320px;
  margin: 16px 0;
  border-radius: 20px;
  padding: 5px 5px 12px 5px;
  background-color: #fff;
  -webkit-box-shadow: 2px 7px 12px 4px rgba(0, 0, 0, 0.34);
  box-shadow: 2px 7px 12px 4px rgba(0, 0, 0, 0.34);
}
.hebergement_box_pic {
  height: 70%;
  width: 100%;
}
.hebergement_pic {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
}
.hebergement_info {
  height: 30%;
  padding: 8px 0 8px 0;
}
.card_title {
  margin: 0;
  padding-left: 8px;
}
.card_price {
  margin: 0;
  padding-left: 8px;
}
.card_price span {
  font-weight: bold;
}
.card_rate {
  margin: 0;
  padding-left: 8px;
}
.fa-star::before {
  font-size: 12px;
}
.fa-star::before {
  color: var(--background);
}

i.fa-star.active::before {
  color: var(--blue);
}
/* hebergement aside */

#aside__block {
  width: 29%;
  padding: 22px 16px;
  background: var(--background);
  border-radius: 20px;
}
#aside__title-block {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}
aside .section__title {
  display: inline-block;
  padding-bottom: 16px;
  padding-left: 0;
}
#aside__box-card {
  display: flex;
  flex-direction: column;
}
#aside__card {
  box-sizing: content-box;
  border-radius: 20px;
  background: #fff;
  margin: 16px;
  padding: 5px;
  -webkit-box-shadow: 2px 7px 12px 4px rgba(0, 0, 0, 0.34);
  box-shadow: 2px 7px 12px 4px rgba(0, 0, 0, 0.34);
}
#aside__card a {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 150px;
}
.aside__box_pic {
  height: 100%;
  width: 30%;
}
.aside_pic {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px 0px 0 20px;
}
.aside__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
}
/* Activite */
#activite {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.activite__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.activite__card-box {
  display: flex;
  margin-bottom: 32px;
  height: 500px;
  width: 50%;
}

.activite__card {
  width: 50%;
  border-radius: 20px;
  -webkit-box-shadow: 2px 7px 12px 4px rgba(0, 0, 0, 0.34);
  box-shadow: 2px 7px 12px 4px rgba(0, 0, 0, 0.34);
}
.activite__card a {
  height: 100%;
}

.activite__card-pic {
  /* overflow: visible; */
  height: 85%;
}
.card__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0px 0;
}
.activité__card-medium {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.portrait {
  /* max-width: 400px;
  min-width: 350px; */
  width: 45%;
  margin: 0 auto;
}

.medium {
  height: 45%;
  width: 86%;
  /* max-width: 470px;
  min-width: 430px; */
}
.medium .activite__card-pic {
  height: 67%;
  width: 100%;
}

.card_box-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card_box-title h3 {
  margin-top: 16px;
}

/* tablettes */
@media screen and (max-width: 992px) {
}
