:root {
  --blue: #0065fc;
  --light-blue: #deebff;
  --background: #f2f2f2;
  --gutter: 16px;
}
* {
  box-sizing: content-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Raleway", sans-serif;
  margin: 0 auto;
}
header {
  width: 90%;
}
main {
  width: 90%;
  margin: 0 auto;
}

button {
  border: none;
  background: none;
}
button:active {
  position: relative;
  top: 1px;
}
a {
  color: #000;
  font-size: var(--gutter);
  text-decoration: none;
}
input:focus {
  outline: none;
}

/* header */
#header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}
#header__title {
  font-size: 22px;
}
#header__title img {
  box-sizing: border-box;
  width: 45%;
  position: relative;
  left: -20px;
}
#header__nav-block {
  display: flex;
}
.header__nav-container {
  width: 115px;
  text-align: center;
  padding: 12% 15px 0 15px;
}

.header__nav-container:hover {
  border-top: 2px solid var(--blue);
}
.header__nav-container:hover > a {
  color: var(--blue);
}
/* Formulaire */
#formulaire__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#formulaire__title-block {
  margin-bottom: 15px;
}
#formulaire__title-block h2 {
  margin-bottom: 10px;
}
#formulaire__from {
  margin-bottom: var(--gutter);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#formulaire__search-block {
  padding-bottom: var(--gutter);
  width: 100%;
}
#formulaire__search-block i {
  background-color: var(--background);
  border-radius: 10px 0 0 10px;
  border: 1px solid var(--background);
  height: 14px;
  padding: 11px;
  position: relative;
  right: -5px;
  top: 1px;
}
#formulaire__search-block input {
  border: 1px solid var(--background);
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 9px;
}
#formulaire__search-block input:active {
  border: 1px solid var(--background);
}
.formulaire__label {
  background: var(--blue);
  border-radius: 0 10px 10px 0;
  color: var(--light-blue);
  display: inline-block;
  font-size: small;
  height: 17px;
  left: -5px;
  margin: 0;
  padding: 11px 10px 10px 10px;
  position: relative;
  text-align: center;
  top: -2px;
}

.fa-search {
  display: none;
  visibility: hidden;
}
/* filtre */
#formulaire__filtre {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
}
#formulaire__filtre span {
  display: inline-block;
  font-weight: bolder;
  padding-right: var(--gutter);
  position: relative;
  top: 8px;
}
.formulaire__filtre_box {
  align-items: center;
  border-radius: 20px;
  border: 2px solid var(--background);
  height: 31px;
  margin-bottom: 20px;
  margin-right: calc(var(--gutter) * 1.5);
  text-align: center;
  transition-duration: 0.8s;
  transition-property: transform;
}
.formulaire__filtre_box:hover {
  transform: scale(1.2);
}
.formulaire__filtre_box button {
  font-weight: bolder;
  padding-right: 8px;
  position: relative;
  top: 5px;
}
.slider {
  box-sizing: border-box;
  font-weight: bold;
  padding-right: var(--gutter);
  width: 100%;
}
.slider:hover {
  border-radius: 20px;
}
.btnCheck {
  box-sizing: border-box;
  text-align: center;
  color: var(--blue);
  background: var(--light-blue);
  padding: 10px;
  height: 34px;
  width: 34px;
  border-radius: 20px;
  float: left;
  position: relative;
  left: -8px;
  top: -7px;
}
.btnCheck::before {
  position: relative;
  top: -1px;
  left: -2px;
}
#subinfo_form {
  text-align: left;
}
#subinfo_form i {
  width: 30px;
}
.fa-info {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 18px;
  border: 1px solid var(--background);
  position: relative;
  top: -7px;
}
.fa-info::before {
  position: relative;
  top: 8px;
  left: 12px;
  color: var(--blue);
}
/* Hébergement et card */
#hebergement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 32px;
}
#hebergement__block {
  background: var(--background);
  padding: 22px 32px;
  border-radius: 20px;
  max-width: 60%;
  display: flex;
  margin-right: calc(var(--gutter) * 2);
  flex-direction: column;
  text-align: left;
}
.section__title {
  margin: 0;
  padding: 32px 0 18px 0;
}
/* lien afficher */
#hebergement__btn {
  padding-top: 2%;
}
#hebergement__btn a {
  font-weight: bolder;
}
#hebergement__btn a:hover {
  text-decoration: underline;
}
#hebergement__btn a:active {
  position: relative;
  top: 2px;
}

.hebergement_box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px 0;
  margin-top: 16px;
}
/* Card */

.hebergement_card {
  margin: 0;
  /* box-sizing: border-box; */
  height: 200px;
  width: 30%;
  border-radius: 20px;
  padding: 5px 5px 12px 5px;
  background-color: #fff;
  -webkit-box-shadow: 2px 7px 12px 4px rgba(0, 0, 0, 0.34);
  box-shadow: 2px 7px 12px 4px rgba(0, 0, 0, 0.34);
}
.hebergement_box_pic {
  height: 60%;
  width: 100%;
}
.hebergement_pic {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
}
.hebergement_info {
  height: 30%;
  padding: 8px 0 8px 0;
}
.card_title {
  margin: 0;
  padding-left: 8px;
}
.card_price {
  margin: 0;
  padding-left: 8px;
}
.card_price span {
  font-weight: bold;
}
.card_rate {
  margin: 0;
  padding-left: 8px;
}
.fa-star::before {
  font-size: 12px;
}
.fa-star::before {
  color: var(--background);
}

i.fa-star.active::before {
  color: var(--blue);
}

/* hebergement aside */
#aside__block {
  width: 29%;
  padding: 22px var(--gutter);
  background: var(--background);
  border-radius: 20px;
}
#aside__title-block {
  display: flex;
  justify-content: space-between;
  padding: 0 var(--gutter);
}
aside .section__title {
  display: inline-block;
  padding-bottom: var(--gutter);
  padding-left: 0;
}
.fa-chart-line {
  position: relative;
  top: 33px;
  font-size: 22px;
  padding-left: 8px;
}
#aside__box-card {
  display: flex;
  flex-direction: column;
}
.aside__card {
  box-sizing: content-box;
  border-radius: 20px;
  background: #fff;
  margin: var(--gutter);
  padding: 5px;
  -webkit-box-shadow: 2px 7px 12px 4px rgba(0, 0, 0, 0.34);
  box-shadow: 2px 7px 12px 4px rgba(0, 0, 0, 0.34);
}
.aside__card a {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 150px;
}
.aside__box_pic {
  height: 100%;
  width: 40%;
}
.aside_pic {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px 0px 0 20px;
}
.aside__info {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
}

/* Activite */
#activite {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}
.activite__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.activite__card-box {
  display: flex;
  margin-bottom: 32px;
  height: 500px;
  width: 48%;
  justify-content: space-between;
}
.activite__card {
  width: 50%;
  border-radius: 20px;
  -webkit-box-shadow: 2px 7px 12px 4px rgba(0, 0, 0, 0.34);
  box-shadow: 2px 7px 12px 4px rgba(0, 0, 0, 0.34);
}
.activite__card-pic {
  height: 85%;
}
.card__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0px 0;
}
.activite__card-medium {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}
.portrait {
  width: 70%;
}
.medium {
  height: 45%;
  width: 86%;
}
.medium .activite__card-pic {
  height: 67%;
  width: 100%;
}
.card_box-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card_box-title h3 {
  margin-top: var(--gutter);
}

/* Footer */
footer {
  background-color: var(--background);
  width: 100%;
}
.footer__box {
  margin: 0 auto;
  width: 90%;
  padding: 2% 0;
  display: flex;
}
.footer__bloc--nav {
  width: 35%;
}
h4 {
  margin-bottom: 8px;
}
ul {
  padding: 0;
}
li {
  list-style-type: none;
}
