/* Téléphone portable*/
@media screen and (max-width: 768px) {
  body {
    width: 100%;
    margin: 0;
  }
  main {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  button {
    padding: 0;
  }
  #header__container {
    flex-direction: column;
    margin: 0;
    width: 100%;
  }
  #header__title {
    text-align: center;
    margin: 0 auto;
    width: 80%;
    position: relative;
    left: 15px;
  }

  .header__nav-container {
    margin: 0;
    padding-top: 15px;
    text-align: center;
    width: 100%;
  }
  .header__nav-container:hover {
    border-top: none;
    border-bottom: 2px solid var(--blue);
  }
  /* formulaire */
  #formulaire__container {
    margin: 0;
  }
  #formulaire__title-block {
    padding: 8px;
  }

  #formulaire__search-block {
    text-align: center;
  }
  #formulaire__search-block input {
    width: 70%;
  }
  .fa-map-marker-alt {
    top: 1px;
    height: 17px;
  }
  .formulaire__label {
    display: none;
  }
  .fa-search {
    visibility: visible;
    display: inline-block;
    color: var(--light-blue);
    background: var(--blue);
    height: 39px;
    width: 34px;
    text-align: center;
    border-radius: 10px;
    position: relative;
    top: -10px;
    left: -14px;
  }
  .fa-search::before {
    position: relative;
    top: 11px;
  }
  #formulaire__filtre {
    padding: 0 16px;
  }
  #formulaire__filtre span {
    display: block;
    width: 100%;
    padding-bottom: 16px;
  }
  #subinfo_form {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 0;
  }
  #subinfo_form i {
    display: block;
    padding: 0;
    margin: 8px;
  }
  .fa-info {
    width: 37px;
  }
  .fa-info::before {
    /* top: 5px; */
  }
  #subinfo_form span {
    display: inline-block;
    position: relative;
    top: 10px;
  }
  /* Hebergement */
  #hebergement {
    flex-direction: column-reverse;
  }
  #hebergement__block {
    background: none;
    width: 100%;
    padding: 0;
  }
  #hebergement h2.section__title {
    padding: 32px 0;
    margin: 0 16px;
  }
  .hebergement_box {
    justify-content: center;
  }
  .hebergement_card {
    width: 100%;
    margin: 16px 16px;
  }
  #aside__block {
    width: 100%;
    border-radius: 0;
    padding: 0;
  }
  #aside__block h2.section__title {
    margin: 0;
  }
  .fa-chart-line::before {
    position: relative;
    top: 50%;
    bottom: 50%;
  }
  #hebergement__btn {
    padding-left: 22px;
  }
  /* Activités à Marseille*/
  #activite {
    width: 100%;
  }
  .activite__container {
    flex-direction: column;
    align-items: center;
  }

  .activite__card-box {
    height: 90%;
    width: 90%;
    flex-direction: column;
    margin-bottom: 0;
  }
  .activite__card {
    height: 215px;
    margin-bottom: 32px;
  }
  .portrait {
    width: 100%;
  }
  .activite__card-medium {
    width: 100%;
    margin: 0 auto;
  }

  .activite__card-medium .medium:nth-child(1) {
    /* margin-bottom: 32px; */
  }
  .activite__card-box:nth-child(1) .medium:nth-child(-n + 2) {
    margin-bottom: 32px;
  }
  .medium {
    /* margin: 16px; */
  }
  .portrait .activite__card-pic {
    height: 67%;
  }
  #activite__block-title {
    padding: 0 16px;
  }

  /* Footer */
  footer div {
    flex-direction: column;
  }
  footer nav {
    width: 100%;
  }
}
